<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988550341550-cefthb5oh2ls9vkq5lf95honk8jbpgq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988550341550-cefthb5oh2ls9vkq5lf95honk8jbpgq2</string>
	<key>API_KEY</key>
	<string>AIzaSyAg2yDCjr4IvMURD8gDKQJmjH_JDkM-vGY</string>
	<key>GCM_SENDER_ID</key>
	<string>988550341550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sendRemiderToUser</string>
	<key>PROJECT_ID</key>
	<string>send-reminder-to-user</string>
	<key>STORAGE_BUCKET</key>
	<string>send-reminder-to-user.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988550341550:ios:b4f2c5f74201ee05a09e3f</string>
</dict>
</plist>